---
import "../styles.scss";
---
<!doctype html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="a personal site" />
		<meta name="viewport" content="width=device-width" />
		<title>a site</title>
	</head>
	<body class="bg-primary">
		<script>
			import * as bootstrap from "bootstrap";
			const tooltips = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]')).map((element) => {
				return new bootstrap.Tooltip(element, {
					trigger: "click hover focus"
				});
			});
			document.addEventListener("pointerup", (event) => {
				tooltips.forEach((tooltip) => {
					tooltip.hide();
				});
			});
		</script>
		<slot/>
	</body>
</html>