---
import "../styles.scss";
---
<!doctype html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="a personal site" />
		<meta name="viewport" content="width=device-width" />
		<title>a site</title>
	</head>
	<body class="bg-primary">
		<script>
			import * as bootstrap from "bootstrap";
			const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
			const _tooltips = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))	
		</script>
		<slot/>
	</body>
</html>