---
import Layout from "../layouts/Layout.astro";
---
<Layout>
<form action="login" method="post">
    <input type="password" placeholder="password" name="password" required>
    <button class="btn btn-primary" type="submit"><a>login</a></button>
</form>
<p id="message"></p>
<script>
    const err = "err";
    let message: string = "";
    let color: string = "inherit";
 
    const urlParams = new URLSearchParams(window.location.search);
    const status = urlParams.get("status");
   if (status !== null){
        if (status == err){
            color = "red";
            message = "invalid";
        }
        const element = document.getElementById("message");
        if (element !== null){
            element.textContent = message;
            element.style.color = color;
        }
    } 

</script>
</Layout>