---
---
<form action="admin_submit" method="post">
    <input type="password" placeholder="password" name="password" required>
    <button type="submit">Login</button>
</form>
<p id="message"></p>
<script>
    const ok = "ok";
    const err = "err";
    let already = "already";
    let message: string = "";
    let color: string = "inherit";
 
    const urlParams = new URLSearchParams(window.location.search);
    const status = urlParams.get("status");
   if (status !== null){
        if (status === ok){
            color = "green";
            message = "logged in :)"
        }
        else if (status === already){
            color = "yellow";
            message = "already logged in...";
        }
        else if (status == err){
            color = "red";
            message = "invalid";
        }
        const element = document.getElementById("message");
        if (element !== null){
            element.textContent = message;
            element.style.color = color;
        }
    } 

</script>
