---
import Home from "../components/home.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <button class="btn btn-primary" id="logout"><a>logout</a></button>
    <div id="message" class="h1"></div>
    <Home display={false}/>
</Layout>
<script>
interface Out{
    message: string,
    good: boolean
}
async function main() {
    const button = document.getElementById("logout");
    const div = document.getElementById("message");
    const home = document.getElementById("home_button");
    if (button === null){
        console.error("no button");
       return;
    } 
    if (div === null){
        console.error("no div");
       return;
    }
    if (home === null){
        console.error("no home");
        return;
    }
    console.log("ok");
    button.onclick = async (_) => {
        console.log("click");
        const received: Out = (await (await fetch("./logout")).json());
        console.log(received);
       if (received.good){
            div.style.color = "green";
        } else{
            div.style.color = "red";
        }
        div.textContent = received.message;
        home.style.display = "initial";
    }
}
main();
</script>
