--- 
import Layout from '../layouts/Layout.astro';
import Interest from '../components/interest.astro';
import Social from '../components/social.astro';
import socials_json from "../data/socials.json";
import { Icon } from 'astro-icon/components';
import InfoPopup from '../components/info_popup.astro';
const socials = socials_json.socials.filter((social) => social[3] !== "private");
---

<Layout>
	<main>
		<p class="head">dis_da_mør</p>
		<p class="text-sub">
			Hi I'm mør
			<InfoPopup text="arabic: مُر, romanized: mor"/>
			, I have an interest in:
		</p>
		<div class="row mx-2 d-flex justify-content-center gap-3 mt-2">
				<Interest name="code" description="programming computers" icon_name="code"/>
				<Interest name="music" description="electric guitar and electronic music" icon_name="music"/>
				<Interest name="art" description="drawing, digital or physical" icon_name="brush"/>
		  </div>
		<p class="text-sub mt-2">
			You can find me on:
		</p>
		<div class="row d-flex justify-content-center">
			{
				socials.map((social) => {
					return (<Social link={social[0]} icon_name={social[1]} name={social[2]}/>);
				})
			}
		</div>
</main>
</Layout>

