---
import { getCollection } from "astro:content";
import PageHead from "../components/page_head.astro";
import Layout from "../layouts/Layout.astro";
import Track from "../components/track.astro";
import Social from "../components/social.astro";
const music_collection = await getCollection("music");
const music = music_collection.map((music) => music.data).reverse();
const social_collection = await getCollection("socials");
const include = ["bandcamp", "spotify", "youtube"];
const socials = social_collection.map((social) => social.data).filter((social) => include.includes(social.name));
---

<Layout>
    <PageHead>music</PageHead>
    <div class="container">
        <p>I started learning the electric guitar in 2020 and it's my favourite instrument.
            Shortly after that I began to produce music, mostly electronic. 
            I've released a few tracks, and they are all here. 
            They can be downloaded for free, either here or on bandcamp. 
            Feel free to upload the files to spotify to avoid subscribing.
        </p>
    </div>
    <div class="container text-center mt-3 mb-2" style="font-size: large;">
        I post on these platforms:
    </div>
    <div class="container d-flex justify-content-center mb-5 row mx-auto">
		{
			socials.map((social) => {
				return (<Social link={social.link} icon_name={social.icon_name} name={social.name}/>);
			})
		}
	</div>

    <p class="text-sub">tracks: </p>
    <div class="accordion accordion-style mx-5 mb-4" id="tracks">
        {
            music.map((track) => (<Track social_json={track}/>))
        }
    </div>
</Layout>
