.title-heading {
  text-align: center;
  color: white;
  border: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-color: #ffffff;
}

#sections {
  padding-left: 10px;
  padding-right: 10px;
}

.section h1 {
  font-size: 25px;
  margin: 5px;
  float: left;
  color: white;
}

.section p {
  height: 90px;
  margin: 5px;
  clear: both;
  color: #cdcdcd;
}

.fa.fa-star.icon {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: #0048b4;
}

.section {
  min-width: 278px;
  max-width: 350px;
}

.heading-parent {
  float: left;
}

.button-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  float: left;
  width: 100%;
  /*height: 100%;*/
}

.section-button {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 100%;
  color: rgba(255,255,255,0);
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

@media (max-width: 350px) {
  .col {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (min-width: 350px) {
  .col {
    flex: 1 0 0%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
  }
}

.selection-button {
}

.section-button:hover {
  background-color: rgba(255,255,255,0);
  color: rgba(255,255,255,0);
  border-color: #0a53be;
}

.section-icon {
  float: right;
  margin-right: 20px;
  /*margin-top: 10px;*/
  margin-bottom: 5px;
  filter: brightness(0%) invert(19%) sepia(54%) saturate(3325%) hue-rotate(205deg) brightness(102%) contrast(110%);
  color: #0048b4;
  width: 60px;
  /*background-color: #ffffff;*/
}

body {
  background: rgb(33,37,41);
  overflow-x: hidden;
}

.main-paragraph {
  font-size: 20px;
  color: white;
  margin: 15px;
  text-align: left;
}

.collapsible-game-parent {
  margin: 15px;
}

.game-collapse-button {
  color: white;
  background-color: rgba(0,0,0,0);
  height: 80px;
  width: auto;
  position: relative;
  font-size: 25px;
  border: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:focus {
  border-style: none;
  box-shadow: none;
}

.game-collapse-button:hover {
  border-style: none;
  background-color: rgba(0,0,0,0);
}

.game-collapse-icon {
  float: right;
  filter: brightness(0%) invert(19%) sepia(54%) saturate(3325%) hue-rotate(205deg) brightness(102%) contrast(110%);
  height: 50px;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  box-shadow: 0 0 0 .25rem rgba(255,255,255,0);
}

.social-icons i {
  font-size: 50px;
  display: inline-block;
  color: #757980;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  padding-top: 10px;
}

.social-icons-img-div {
  border-radius: 50%;
  border: 1px solid #c8ced7;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: bottom;
  margin-bottom: 10px;
}

#tiktok {
  filter: invert(87%) sepia(92%) saturate(4756%) hue-rotate(156deg) brightness(85%) contrast(90%);
  border-color: #fff;
}

.social-icons-img-div img {
  width: 90px;
  vertical-align: bottom;
  height: 90px;
  padding: 15px;
}

#discord {
}

a {
  color: #8b8bf1;
  text-decoration: underline;
}

a:hover {
  color: #8b8bf1;
}

