---
interface Props{
    display?: boolean,
    back?: boolean,
    nav?: string;
}
const {display: display_bool, back: back_bool, nav: nav_given} = Astro.props;
let display = "initial";
if (display_bool === false){
    display = "none";
}
let back = "";
if (back_bool === true){
    back = "< ";
}
let nav = "";
let nav_text = "home";
if (typeof nav_given !== "undefined"){
    nav = nav_given;
    nav_text = nav_given;
} 
---
<button id="home_button" class="btn" style=`display: ${display}`>
    <a href={`/${nav}`}>
        {back}{nav_text}
    </a>
</button>
