---
import { Icon } from 'astro-icon/components';

interface Props{
    text: string;
    info?: boolean;
}
const {text, info} = Astro.props;
let inner = "ⓘ";
if (info === false){
    inner = "";
}
---
<span data-bs-toggle="tooltip" data-bs-title={text} data-bs-placement="top">
    <sup style="font-size: small;">
        {inner}
    </sup>
    <slot/>
</span>