---
import InfoPopup from "./info_popup.astro";
interface Props{
    inline?: boolean;
}
const {inline: inline_bool} = Astro.props;
const inline = [inline_bool].filter((inline) => inline === true);
const outline = [inline_bool].filter((inline) => !(inline === true));
---
{
    inline.map(() => (
        <span>
            <a href="/LICENSE.md">CC BY-NC-SA 4.0</a>
        </span>
        <span>
            <InfoPopup text="feel free to share and adapt, as long as you don't use this for commercial purposes, attribute me, release under the same license, and add no additional restrictions"/>
        </span>
    ))
}
{
    outline.map(() => (
    <div class="col-sm-auto">
        <a href="/LICENSE.md">CC BY-NC-SA 4.0</a>
    </div>
    <div class="col-sm-auto">
        <span>
            <InfoPopup text="feel free to share and adapt, as long as you don't use this for commercial purposes, attribute me, release under the same license, and add no additional restrictions"/>
        </span>
    </div>
    ))
}
