---
interface Props{
    name: string;
    link: string;
    link_name?: string;
   description: string;
    languages: string[];
}
const {name, description,  languages, link, link_name} = Astro.props;
let anchor_name = "link";
if (typeof link_name !== "undefined"){
    anchor_name = link_name;
}
---

<tr class="text-white">
    <th scope="col">{name}</th>
    <td><a href={link} class="text-white">{anchor_name}</a></td>
    <td class="width-30">{description}</td>
    <td>{languages.join(", ")}</td>
</tr>
