---
interface Props{
    name: string;
    link: string;
    description: string;
    languages: string[];
}
const {name, description,  languages, link} = Astro.props;
---

<tr>
    <th scope="col">{name}</th>
    <td><a href={link} class="text-white">link</a></td>
    <td class="width-30">{description}</td>
    <td>{languages.join(", ")}</td>
</tr>
