---
import { Icon } from 'astro-icon/components';

interface Props {
	link: string;
	icon_name: string;	
}

const {link, icon_name} = Astro.props;
---
<div class="col-auto">
	<a href={link} class="social-button">
		<Icon name={icon_name}/>
	</a>
</div>