.main-paragraph {
  color: white;
  font-size: 20px;
  margin: 15px;
  text-align: left;
}

.social-icons a {
  color: rgba(0,0,0,0);
}

.social-icons a {
  color: rgba(0,0,0,0);
}

.social-icons a {
  color: rgba(0,0,0,0);
}

.social-icons a:hover {
  color: rgba(0,0,0,0);
}

