$color0: #2e3440;
$color1: #434c5e;
$color2: #3b4252;
$color3: #4c566a;

$primary: $color0;
$accordion-color: white;
@import "./bootstrap_scss/bootstrap.scss";
@font-face {
    font-family: "CascadiaCode";
    src: url("../public/CascadiaCode.ttf");
}
body {
    font-family: "CascadiaCode" !important;
}
:root{
    color-scheme: dark;
}
a {
    color: white;
}
a:hover{
    color: white;
}
.head-border{
    border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.5);
    margin-right: ($spacer * .5);
    margin-left: ($spacer * .5);
    padding-bottom: ($spacer * .25);
    padding-top: ($spacer * .25);
}
.tooltip-text{
    border-bottom: 1px dotted #ffffff;
    text-decoration: none;
}

.interest-icon{
    @extend .text-white;    
    font-size: 30px;            
}
.interest-container{
    border-radius: 0px;
    max-width: 260px;
}
.interest-container:hover{
    outline: 1px inset white;
    transition: .1s ease-in-out;
}
body{
    overflow-x: hidden;
}
.text-sub{
   @extend  .text-white;
   @extend .text-center;
   @extend .fs-3;
}
.social-button{
    @extend .btn; 
    @extend .rounded-circle;
    border-color: rgba($color: #ffffff, $alpha: 0.5);
    @extend .text-white;    
    font-size: 30px;
}
.head {
    @extend .display-3;
    @extend .text-white; 
    @extend .text-center;
    @extend .head-border;
}
.language-menu{
    background-color: black !important;
    min-width: 0px!important;
}

.width-30{
    width: 30%;
}

.accordion-style{
    background-color: rgba(0, 0, 0, 0) !important;
    border: 3px inset $color3 !important;
    @extend .text-white;
}
